.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  &__link {
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
    transition: color $transitionTiming;
    text-decoration: none;
    &--active {
      text-decoration: underline;
    }
    &:hover {
      color: $gray;
    }
  }
}
